fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
python-dotenv==1.0.1
qdrant-client==1.11.1
deepface==0.0.93
opencv-python==4.10.0.84
numpy==1.26.4
tensorflow==2.15.1
tf-keras==2.15.1
psycopg[binary]==3.3.3
